apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: ai-editor-app
spec:
  template:
    spec:
      containers:
      - image: gcr.io/video-editor-434002/ai-editor-app:v3
        env:
        - name: PORT
          value: "8080"
        - name: OPENAI_API_KEY
          valueFrom:
            secretKeyRef:
              name: openai-credentials
              key: api-key
